$slowest: 0.6s;
$slower: 0.3s;
$slow: 0.25s;
$fast: 0.15s;
$ease: cubic-bezier(0.28,0,0.18,1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$pad: 2vw;
$transparent: rgba(255,255,255,0.0);