$output-bourbon-deprecation-warnings: false;

@import "bourbon";
@import "_base/variables";
@import "_base/mixins";
@import "_base/reset";
@import "_base/typography";
@import "_base/wrapper";
@import "_parts/texture";
@import "_parts/landing";
@import "_parts/contact";
@import "_parts/line";

a {
	position: relative;
	padding-bottom: 2px;
	text-decoration: none;
	overflow: hidden;

	&:before,
	&:after {
		content: " ";
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		// width: calc(100% - 3px);
		width: 100%;
		height: 1px;
		background-color: #ffffff;
		transform: translateX(0);
		transition: transform 0.48s ease-out;
	}

	&:before {
		transform: translateX(-105%);
		transition-delay: 0.24s;
	}

	&:hover {
		&:before {
			transform: translateX(0);
		}

		&:after {
			transform: translateX(105%);
		}
	}
}

#projects {
	margin-top: 50px;

	@include breakpoint(mobile) {
		margin-top: 5px;
	}

    a {
		display: block;
        font-family: Norwester;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
		letter-spacing: 3px;

		@include breakpoint(mobile) {
			font-size: 10px;
		}
    }
    li {
        display: inline;
        padding: 10px;
    }
}

// @media(min-width:1080px) {
//     #landing hgroup h1 {
//         opacity: 1!important;
//         font-size: 14px;
//         letter-spacing: 6px;
//     }
// }
// @media(max-device-width: 414px) {
//     #contact article hgroup h2 {
//         font-size: 40px;
//         letter-spacing: 8px;
//     }
// }
// @media(max-device-width: 375px) {
//     #contact article hgroup h2 {
//         font-size: 37px;
//         letter-spacing: 7px;
//     }
// }
// @media(max-device-width: 320px) {
//     #contact article hgroup h2 {
//         font-size: 30px;
//         letter-spacing: 7px;
//     }
// }
// @media(max-device-width: 320px) {
//     #contact article hgroup h2 {
//         font-size: 30px;
//         letter-spacing: 6px;
//     }
//     #contact article ul {
//         width: 100%;
//         clear: both;
//         margin-bottom: 6vw;
//     }
// }
// #contact article ul a {
//     color: white;
//     position: relative;
//     transition: .5s cubic-bezier(.28, 0, .18, 1);
// }
// #contact article ul a strong:nth-of-type(1) {
//     position: relative;
//     display: inline-block;
//     transition: .5s cubic-bezier(.28, 0, .18, 1);
// }
// #contact article ul a strong:nth-of-type(2) {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     display: inline-block;
//     opacity: 0!important;
//     -webkit-transform: translateX(-150%) translateY(-50%);
//     transform: translateX(-150%) translateY(-50%);
//     transition: .5s cubic-bezier(.28, 0, .18, 1);
// }
// #contact article ul a:after {
//     opacity: 1!important;
//     -webkit-transform: translateY(-50%) translateX(-125%);
//     transform: translateY(-50%) translateX(-125%);
// }
// #contact article ul a:before {
//     opacity: 1!important;
//     -webkit-transform: translateY(-50%) translateX(0);
//     transform: translateY(-50%) translateX(0);
// }
// #contact article ul span span {
//     line-height: 2;
// }
// #contact article ul#social li {
//     float: left;
//     position: relative;
//     margin-right: 40px;
//     padding-left: 2.5vw;
//     overflow: hidden;
// }
// #contact article ul#social li:nth-child(odd) {
//     width: 125px;
//     clear: left;
// }
// #contact article ul#social li:nth-child(even) {
//     width: 140px;
//     margin-right: 0;
// }
// .line {
//     position: relative;
//     top: 90%;
//     left: 5%;
//     width: 90%;
//     height: 1px;
//     background: white;
//     animation: ani 2s cubic-bezier(0.88, 0.18, 0.27, 0.73);
//     animation-delay: 1s;
// }
// @keyframes ani {
//     from {
//         width: 0;
//         opacity: 0;
//     }
// }

.page-section {
	visibility: hidden;
}

[data-section="intro"] #intro{
	visibility: visible;
}

[data-section="landing"] #landing {
	visibility: visible;
}

#white-fill {
	transition: transform 1s cubic-bezier(1, 0, 0, 1) 0s;
}

[data-section="contact"] {
	#texture {
		opacity: 0.4;
	}

	#white-fill {
		transform: translateX(0);
		transition-delay: 0;
	}

	#contact {
		visibility: visible;
	}
}

.outer {
    overflow: hidden;
}

figure {
    visibility: hidden;
}

.sub {
    font-family: $norwester;
    text-transform: uppercase;
}

.blast,
.letter {
    position: relative;
    display: inline-block;
}

.loader {
    position: relative;
    width: 100%;
    height: 2px;
	background-color: rgba(#ffffff, 0.5);

    &-inner {
        position: absolute;
        width: 0;
        height: 100%;
        background-color: white;
    }
}

#fs-logo {
	display: block;
	max-width: 920px;
	width: 85%;
	margin: 0 auto;
    overflow: visible;
}

#intro {
	@include container-center;
}

#fs-monogram {
	position: relative;
    display: block;
	// width: 412px;
	width: 330px;
	margin-bottom: 50px	;
    overflow: visible;
}

#stardust {
	display: block;
	font-size: 16px;
    font-family: $norwester;
	letter-spacing: 0.65em;
	line-height: 2;
	// background: linear-gradient(120deg, rgba(227, 227, 227, 0.2) 0%, rgba(227, 227, 227, 0.3) 100%) no-repeat 0 45% /99% 0.75em;

	@include breakpoint(tablet) {
		font-size: 12px;
		letter-spacing: 0.32em;
	}
}

.wrapper {
	&--fs-logo {
		margin-top:80px;
		margin-bottom:20px;

		@include breakpoint(mobile) {
			margin-top: 40px;
			margin-bottom: 10px;
		}
	}

	&--fs-logo-sub {
		margin-bottom: 50px;

		@include breakpoint(mobile) {
			margin-bottom: 20px;
		}
	}

	&--stardust {
		margin-top: 60px;
		margin-bottom: 10px;

		@include breakpoint(mobile) {
			margin-top: 30px;
		}
	}
}

#contact-btn,
#sound-btn,
#copyright {
	opacity: 0;
}

.bullet {
	padding-left: 3px;
}
